.card{
    text-align: center;
    width: 25vw;
    height: 30vh;
    border-radius: 30px;
    margin: 0 auto;
    border: 3px solid black;
}

.card:hover{
    background: silver;
}

button{
    padding: 1rem;
    background: white;
    border-radius: 10px;
}

button:hover{
    background-color: aliceblue;    
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}