.card {
    text-align: center;
    width: 25vw;
    border-radius: 30px;
    margin: 0 auto;
    border: 3px solid black;
}

.grid_design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card:hover {
    background: silver;
    opacity: 0.8;
    transition: 0.22s;
}

button {
    padding: 1rem;
    background: white;
    border-radius: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.sold_out_bitton{
    opacity: 0.3;
}

p {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;

}

.to_take:hover {
    opacity: 1;
    background-color: green;
    color: white;
    transition: 0.22s;
    border-top: 3px solid white;
}

.to_cancel:hover {
    opacity: 1;
    background-color: red;
    color: white;
    transition: 0.22s;
    border-top: 3px solid white;
}

button:hover {
    background-color: aliceblue;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.sold_out{
    width: 80%;
    font-size: 1.3rem;
    background-color: yellow;
    color: red;
}

.non_sold_out{
    display: none;
}